@import "../../styles";

ul {
  background-color: $white;
  opacity: 0.92;
  position: relative;
  margin: 0 15px;
  border-radius: 2px;
  flex-direction: row;
  display: flex;
  height: calc(100vh - 140px);

  li {
    flex-grow: 1;
    text-align: center;
  }

}
